CompileFlags:
  CompilationDatabase: build-cpp

---

If:
  PathMatch: .*\.cu(h)?

CompileFlags:
  CompilationDatabase: build-cuda
  Remove:
    - -forward-unknown-to-host-compiler
    - -arch=*
    - -Xcompiler=*
