If:
  PathMatch: .*\.(cpp|cc|cxx)

CompileFlags:
  CompilationDatabase: build-clangd-cpp
  Add:
    - --gcc-install-dir=/usr/lib/gcc/x86_64-linux-gnu/14

---

If:
  PathExclude: .*\.(cpp|cc|cxx)

CompileFlags:
  CompilationDatabase: build-clangd-cuda
  Remove:
    - -forward-unknown-to-host-compiler
    - -arch=*
    - -Xcompiler=*
  Add:
    - -xcuda
    - --cuda-host-only
    - --gcc-install-dir=/usr/lib/gcc/x86_64-linux-gnu/14
    - -std=c++23
